name: Go

on: [push, pull_request]

jobs:

  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.0'

      - uses: actions/checkout@v2
      - name: Run Unit tests
        run: go test -v -coverprofile=./profile.cov ./...

      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: ./profile.cov

  semantic-release:
    needs: [test]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Run semantic-release
        if: github.repository == 'casbin/redis-watcher' && github.event_name == 'push'
        run: |
          npm install --save-dev semantic-release@17.2.4
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
